/* Principal conntainerr*/
.detailsContainer {
    background-color: #f0f8ff;
    padding: 20px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 1000px;
    overflow-y: auto; 
    overflow-x: hidden; 
}


/* Header */
.detailsHeader {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

/* Segment row */
.segmentRow {
    margin-bottom: 16px;
}

/* Segment card */
.segmentCard {
    width: 100%;
    padding: 16px;
    border: 1px solid #1890ff; 
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Vertical divisor */
.verticalDivider {
    height: auto;
    margin: 0 20px;
}
/* Layover info */
.layoverInfo {
    margin: 8px 0;
    padding: 8px;
    background-color: #f5f5f5; 
    border-left: 4px solid #1890ff; 
    font-size: 14px;
    border-radius: 4px; 
}

/* Diseño de contenido principal */
.mainContent {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 20px;
}

/* Columna izquierda */
.leftColumn {
    padding-right: 16px; /* Espaciado entre las columnas */
    border-right: 1px solid #e0e0e0; /* Línea divisoria */
}

/* Barra lateral derecha */
.priceBreakdown {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky; /* Fija la barra lateral al hacer scroll */
    top: 20px;
    height: fit-content;
}

/* Título de sección */
.sectionTitle {
    color: #1890ff;
    margin-bottom: 16px;
    font-weight: bold;
}

/* Secciones */
.priceSection {
    margin-bottom: 16px;
}

/* Listas */
.feesList,
.travelerPricingList {
    list-style: none;
    padding: 0;
    margin: 8px 0;
}

.feesList li,
.travelerPricingList li {
    background: #ffffff;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Sección de total */
.totalPriceSection {
    margin-top: 16px;
    padding: 12px;
    background-color: #61aef5;
    color: white;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
