/* Results Container */
.resultsContainer {
    background-color: #e6f7ff; 
    padding: 20px;
    max-width: 90%; 
    margin: 0 auto; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* List Container */
.resultsListContainer {
    max-height: 70vh;
    overflow-y: auto;
    width: 100%; 
}

/* Results List */
.resultsList {
    width: 100%; 
    padding: 0;
}

/* Itinerary */
.itinerarySection {
    margin-bottom: 16px;
    width: 100%; 
    max-width: 50%;
}

/* Details card */
.segmentCard {
    margin-bottom: 16px;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #1890ff; /* Línea visible alrededor de las tarjetas */
    background-color: #ffffff; /* Fondo blanco para mayor contraste */
    width: 100%;
    max-width: 90%;
}

/* Price */
/* Contenedor principal */
.offerSummary {
    background-color: #f5f5f5; /* Fondo suave */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 16px;
    width: 100%;
    max-width: 500px; /* Limitar ancho para mantener proporción */
    text-align: left;
}

/* Contenedor para el tiempo total y precio */
.totalInfo {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center;
    margin-bottom: 16px;
}

/* Tiempos totales y precios */
.totalTime,
.totalPrice {
    margin: 0;
    color: #595959;
}

/* Resaltado de etiquetas */
.totalTime span,
.totalPrice span {
    font-weight: bold;
    color: #1890ff; /* Azul destacado */
}

/* Detalles de precios */
.pricingDetails {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #d9d9d9; /* Borde ligero */
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

/* Elementos individuales en la lista */
.pricingDetails .ant-list-item {
    padding: 4px 0;
    border-bottom: none; /* Sin bordes entre elementos */
}


/* Button "Load more" */
.loadMoreContainer {
    text-align: center;
    margin-top: 20px;
}

/* Layover Info */
.layoverInfo {
    margin: 10px 0;
    padding: 5px;
    background-color: #f5f5f5; 
    border-left: 4px solid #1890ff; 
    font-size: 14px;
    width: 100%; 
}
